@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}



body{
  background-color: #1a2c38;
  overflow-x: hidden;
}
/* Your custom styles */
.bg-image {
  background: url('../public/image/casino-poker-cards-en.png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 9px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bg-images {
  background: url('../public/image/sports-balls-orange-en\ \(1\).png') no-repeat center center;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 9px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

/* Tailwind CSS default styles already imported in App.js */

.font__size{
  fill: #fff;
  stroke: #fff;
}
.border__style{
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}
.slick-main .slick-track{
   display: flex;
   gap: 15px;
}
/* Custom scrollbar styles */
/* Add this to your CSS file */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.pluse {
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  animation: pulse-animation 2s infinite;
  background: green;
  position: absolute;
  bottom: 10px;
  margin-left: 5px;
  z-index: 1;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 #00e70166;
  }
  30%{
    box-shadow: 0 0 2px 2px #00e70166;

  }
  70%{
    box-shadow: 0 0 2px 2px #00e70166;
  }
  100% {
    box-shadow: 0 0  #00e70166;
  }
}
/* Custom Scrollbar Styles */
.category-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

.category-scroll::-webkit-scrollbar {
  height: 8px;
}

.category-scroll::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 10px;
}

.category-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Button Styles */
.category-button {
  padding: 10px 20px;
  border-radius: 20px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.category-button.selected {
  background-color: #2f4553; 
  color: white;
}

.category-button.unselected {

  color: #374151; 
}
.category-button.unselected:hover {
  background-color: #2f4553; 
}

.slick-track{
  display: flex;
  gap: 13px;
}
.bg-hover:hover{
  background-color: #2f4553;
}
.fabrate .slick-arrow::before{
  display: none;
}

.menu-accordion .accordion__button:before{
  position: absolute;
  right: 0;
  margin-top: 8px;
}
.menu-accordion .accordion__button{
  background: transparent;
  
}
.menu-accordion .accordion__button h2{
  border-bottom: 1px solid #fff;
}

.menu-accordion .accordion__panel{
  padding: 0;
}